<h1>4 - flex-flow</h1>

<h2>flex-flow: row nowrap;</h2>
<section class="container3 row-nowrap">
    <div class="item3">flex-flow1</div>
    <div class="item3">flex-flow2</div>
    <div class="item3">TesteDoItem333333333333333333</div>
</section>

<h2>flex-flow: row wrap;</h2>
<section class="container3 row-wrap">
    <div class="item3">flexflex-flow1</div>
    <div class="item3">flexflex-flow2</div>
    <div class="item3">flexflex-flow3</div>
    <div class="item3">flexflex-flow4</div>
    <div class="item3">flexflex-flow5</div>
</section>

<h2>flex-flow: column-nowrap;</h2>
<section class="container3 column-nowrap">
    <div class="item3">flex-flow1</div>
    <div class="item3">flex-flow2</div>
    <div class="item3">flex-flow3flex-flow3flex-flow3flex-flow3</div>
</section>
