
<h1>2 - flex-direction</h1>
<p class="summary">
    <strong>flex-direction: row; </strong> Os itens ficam em linha<br />
    <strong>flex-direction: row-reverse;</strong> Os itens ficam em linha reversa, ou seja 3, 2, 1.<br />
    <strong>flex-direction: column;</strong> Os itens ficam em uma única coluna, um embaixo do outro.<br />
    <strong>flex-direction: column-reverse;</strong> Os itens ficam em uma única coluna, um embaixo do outro, porém em
    ordem reversa: 3, 2 e 1.
</p>

<h2>flex-direction: row;</h2>
<p>por padrão já nascem como row</p>
<section class="container1 row">
    <div class="item1">1</div>
    <div class="item1">2</div>
    <div class="item1">3</div>
</section>

<h2>flex-direction: row-reverse;</h2>
<section class="container1 row-reverse">
    <div class="item1">1</div>
    <div class="item1">2</div>
    <div class="item1">3</div>
</section>

<h2>flex-direction: column;</h2>
<section class="container1 column">
    <div class="item1">1</div>
    <div class="item1">2</div>
    <div class="item1">3</div>
</section>

<h2>flex-direction: column-reverse;</h2>
<section class="container1 column-reverse">
    <div class="item1">1</div>
    <div class="item1">2</div>
    <div class="item1">3</div>
</section>

