.flex-start {
	align-self: flex-start;
}

.flex-end {
	align-self: flex-end;
}

.center {
	align-self: center;
}

.baseline {
	align-self: baseline;
}

.stretch {
	align-self: stretch;
}

.align-items {
	align-items: flex-end;
}

h1 {
    font-size: 2.5em;
    color:black;
    background-color:rgb(72, 115, 100);
    text-align: center;
}
p{
    font-size: 1.50em;
}
h2 {
    text-align: center;
    margin: 20ps 0 0 0;
    font-size: 1,25em;
    font-weight: normal;
    font-family: 'Ubuntu';
}

.item {
	flex: 1;
	margin: 5px;
	padding: 0 5px;
	background: rgb(72, 115, 100);
	text-align: center;
	font-size: 1.5em;
}

.item:first-child {
	padding-top: 20px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

.column {
	flex-direction: column;
}