<h1>3 - flex-wrap</h1>
<p>quebra respeitando o tamanho da palavra dentro do item</p>
<section class="container-text">
    <p class="summary">
        <strong>flex-wrap: nowrap;</strong> Valor padrão, não permite a quebra de linha.<br />
        <strong>flex-wrap: wrap;</strong> Quebra a linha assim que um dos flex itens não puder mais ser
        compactado.<br />
        <strong>flex-wrap: wrap-reverse;</strong> Quebra a linha assim que um dos flex itens não puder mais ser
        compactado.
        A quebra é na direção contrária, ou seja para a linha acima.
    </p>
</section>

<h2>flex-wrap: nowrap;</h2>
<section class="container2 nowrap">
    <div class="item2">Flex-wrap1</div>
    <div class="item2">Flex-wrap2</div>
    <div class="item2">Flex-wrap3</div>
</section>

<h2>flex-wrap: wrap;</h2>
<section class="container2 wrap">
    <div class="item2">Flex-wrap1</div>
    <div class="item2">Flex-wrap2</div>
    <div class="item2">Flex-wrap3</div>
</section>

<h2>flex-wrap: wrap-reverse;</h2>
<section class="container2 wrap-reverse">
    <div class="item2">Flex-wrap1</div>
    <div class="item2">Flex-wrap2</div>
    <div class="item2">Flex-wrap3</div>
</section>

